@page
@model company1.Pages.report.IndexModel
@{
    ViewData["Title"] = "Create Report";
}
<h1>Create report</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
             <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
            </div>
             <div class="form-group">
                <label asp-for="start" class="control-label"></label>
                <input asp-for="start" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="end" class="control-label"></label>
                <input asp-for="end" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create report" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
