@page
@model company1.Pages.login.IndexModel
@{
}
<html>
<head>
    <meta charset='utf-8' />
    <title></title>
</head>
<body>
    <h2>Форма авторизации</h2>
    <form method='post'>
        <p>
            <label>Логин</label><br />
            <input name='login' />
        </p>
        <p>
            <label>Пароль</label><br />
            <input type='password' name='password' />
        </p>
        <input type='submit' value='Войти' />
    </form>
</body>
</html>"
