@page
@model company1.Pages.register.IndexModel
@{
}
<html>
<head>
    <meta charset='utf-8' />
    <title></title>
</head>
<body>
    <h2>Создать аккаунт</h2>
    <form method='post'>
        <p>
            <label>Логин</label><br />
            <input name='login1' />
        </p>
        <p>
            <label>Пароль</label><br />
            <input type='password1' name='password' />
        </p>
        <input type='submit' value='Создать' />
    </form>
</body>
</html>
